/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.main {
	width:980px;
	margin-left:auto;
	margin-right:auto;
}

.navbar {
	display: flex;
	flex-direction: row;
	padding:20px;
	justify-content: flex-end;
	
}
.navlinks {
	display: flex;
	flex-wrap: wrap;
}
.navlinks li{
	display: flex;
	padding: 20px;
	margin-bottom: auto;
	margin-top:auto;
	margin-left:10px;
	margin-right:10px;
}
.navlinks a {
	text-decoration: none;
	color: grey;
}
.row-one {
	display:flex;
	flex-flow:row;
}
.full-column {
	margin: auto;
}
.row-two {
	display: flex;
	margin: 20px;
	padding-bottom: 20px;
}
.row-three {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
}
.call-out {
	background-color: #eeeeee;
	padding: 20px;
	margin: 15px;
	width:46%;
	box-sizing: border-box;
	border: 1px solid black;
}
.learn-button {
	border: 1px solid black;
	width: 100px;
	text-align: center;
	padding: 5px;
	margin-top: 15px;
	background-color:white;
}
.row-four {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.column-half {
	padding: 10px 0px 10px 0px;
	margin: 15px;
	width:46%;
	box-sizing: border-box;

}
.column-half ;.services-info-img{
	margin: auto;
}
.row-four ul {
	padding:20px;
	list-style-type: disc;
}
.row-four li {
	margin: 10px 0px 10px 0px;
}
.services-info-img {
	margin-left:28px;
}
.row-five {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}